html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to right, #fcf7f8 40%, #db7adb 60%);
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #343a40;
}

.wrapper {
  margin: 0 auto;
}

.header {
  padding-top: 20px;
}
.header__logo {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.header__title {
  margin: 0 0 10px 0;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  color: #ff6347;
}

.logo__name {
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .menu {
    background-color: #ff6347;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .menu__list {
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .menu__item:not(:last-child) {
    border-right: 1px solid white;
  }
  .menu__link {
    display: block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .menu__link:hover, .menu__link:focus {
    background-color: white;
    color: #ff6347;
  }
}
.footer {
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    width: 100%;
  }
  .footer__copyright, .footer__socialmedia, .footer__design {
    padding: 10px;
  }

  .footer__button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 5px;
    width: 100px;
    background-color: #2658c4;
    border-radius: 10px;
    margin-top: 15px;
  }

  .footer__button:hover {
    background-color: #3b5998;
  }
}
.popup {
  display: block;
  text-align: left;
  vertical-align: middle;
}
.popup__header {
  background-color: aquamarine;
  color: #4d4c4d;
  border: none;
  padding: 15px;
  min-height: 16.43px;
}
.popup__body {
  position: relative;
  padding: 15px;
}

.report {
  padding: 20px;
  background-color: #b9dff5;
  border: 2px solid #0c86cc;
  color: red;
}

.preface {
  padding: 20px 20%;
}
.preface__foto img {
  width: 100%;
}
.preface__text {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.info__connect {
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
}

.inline__bold {
  font-weight: bold;
}

.notice__text {
  border: 1px solid black;
  padding: 20px 40px;
  margin-top: 20px;
  text-align: center;
}

.notice__text--color {
  color: #dc3545;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 1280px) {
  .preface__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
  }

  .preface__foto {
    margin: 60px auto;
    grid-column: 2/-1;
  }

  .preface__text {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .info__connect {
    margin-top: 0;
  }
  .info__title {
    margin-top: 40px;
  }

  .notice {
    padding-top: 20px;
  }
  .notice__text {
    margin-top: 0;
    text-align: left;
  }
}
.massage {
  padding: 20px 20%;
  text-align: center;
}

.grid__img {
  width: 450px;
  margin: 0 auto;
}

.grid__item {
  width: 450px;
  margin: 20px auto;
}

.grid__item-img {
  width: 100%;
  display: block;
}

.grid__item-desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: peachpuff;
  padding: 10px;
}

.grid__item-desc p {
  margin: 0;
}

.grid__title {
  text-decoration: none;
}

.entry__connect {
  border: 1px solid black;
  padding: 20px 40px;
  margin-top: 20px;
}

@media screen and (min-width: 1280px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 30px;
  }

  .grid__img {
    margin-top: 16px;
    display: block;
    width: 100%;
  }

  .grid__item {
    position: relative;
    overflow: hidden;
    width: inherit;
  }

  .grid__item-img {
    transition: transform 0.3s;
  }

  .grid__item-desc {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
  }

  .grid__item:hover .grid__item-desc {
    transform: translateY(-100%);
  }

  .grid__item:hover .grid__item-img {
    transform: scale(1.1);
  }

  .text__center {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .text__comment {
    grid-column: 2/-1;
    grid-row: 2;
    text-align: left;
  }

  .entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;
  }
  .entry__title {
    margin-top: 40px;
  }
}
.detail {
  padding: 20px 20%;
}
.detail__img {
  width: 100%;
  padding-top: 20px;
}

@media screen and (min-width: 1280px) {
  .detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 474px;
    gap: 50px;
  }
  .detail h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: peachpuff;
  }
}
.price {
  padding: 20px 200px;
  width: 1280px;
  margin: 0 auto;
}
.price h3 {
  font-size: 36px;
}

.table {
  border-spacing: 0;
}

td,
th {
  border-bottom: 1px solid black;
}

.about {
  padding: 20px 20%;
}
.about__content {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px grey;
  margin: 0 auto;
}
.about__certificate h2 {
  text-align: center;
  margin-top: 10%;
}

.certificate {
  display: flex;
  flex-wrap: wrap;
}
.certificate__foto {
  flex: 0 0 calc((100% - 20px) / 3);
  box-shadow: 6px 6px 10px grey;
  height: 200px;
}

@media screen and (min-width: 1280px) {
  .about {
    padding: 20px 20%;
  }
  .about__foto img {
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 6px 6px 10px grey;
  }
  .about__certificate {
    margin-top: 50px;
    display: grid;
  }

  .certificate {
    grid-template-columns: repeat(6, 1fr);
  }
  .certificate__foto {
    box-shadow: 6px 6px 10px grey;
    display: block;
  }
}
.contact {
  padding: 20px 20%;
}

.form-field {
  margin-bottom: 1rem;
}

.form-field label {
  display: block;
  color: gray;
  font-size: 15px;
  margin-bottom: calc(1rem / 2);
}

.form-field :is(input, textarea, select) {
  width: 100%;
  padding: calc(1rem / 2);
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

.required:after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.contact__grid-item,
.contact__grid-item--availability {
  margin-top: 40px;
}

@media screen and (min-width: 1280px) {
  .contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
  }

  .contact__grid-item {
    padding: 20px 40px;
  }
  .contact__grid-item--availability {
    grid-column: 1/-1;
    grid-row: 2;
    padding: 20px 40px;
  }

  .contact__button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 5px;
    width: 100px;
    background-color: #2658c4;
    border-radius: 10px;
  }

  .contact__button:hover {
    background-color: #3b5998;
  }

  .contact__grid-item,
.contact__grid-item--availability {
    margin-top: 0;
  }

  .contact__map {
    padding: 50px 50px;
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .form-field {
    margin-bottom: 1rem;
  }

  .form-field label {
    display: block;
    color: gray;
    font-size: 15px;
    margin-bottom: calc(1rem / 2);
  }

  .form-field :is(input, textarea, select) {
    width: 100%;
    padding: calc(1rem / 2);
    border: 1px solid #b3b3b3;
    border-radius: 4px;
  }

  .required:after {
    content: "*";
    color: red;
    margin-left: 4px;
  }
}
.main {
  margin: 0;
  overflow: auto;
}/*# sourceMappingURL=style.css.map */