@use 'variables';

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient( to right, variables.$c-primary 40%, variables.$c-secondary 60% );
  margin: 0;
  font-family: variables.$font-family-sans-serif;
  color: variables.$f-primary;
}

.wrapper {
  /*max-width: 1280px;*/
  margin: 0 auto;
}
