@use 'variables';

.detail {
    display: block;
    padding: 20px 200px;
  
    &__img {
      width: 100%;
      padding-top: 20px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .detail {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 474px;
      gap: 50px;
  
      h3 {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      color: peachpuff;
      }
    }
  
    .detail__img {
      display: block;
      width: 100%;
    }
  }