.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  width: 100%;
}

.footer__copyright,
.footer__socialmedia,
.footer__design {
  padding: 10px;
}
