@use 'variables';

.footer {
  text-align: center;
  margin: 10px;
}

.footer p {
  margin: 0;
}

.footer__design p {
  color: variables.$f-secondary;
  font-size: 10px;
}

@media screen and (min-width: variables.$breakpoint-m) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 0;

    &__copyright,
    &__socialmedia,
    &__design {
      padding: 10px;
    }
  }



  .footer__design p {
    color: variables.$f-primary;
    font-size: 1em;
    margin-top: 5px;
  }

  .footer__button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 5px;
    width: 100px;
    background-color: #2658c4;
    border-radius: 10px;
  }

  .footer__button:hover {
    background-color: #3b5998;
  }
}
