@use 'variables';

.massage {
  padding: 20px 20%;
  text-align: center;
}

.grid__img {
  width: 450px;
  margin: 0 auto;
}

.grid__item {
  width: 450px;
  margin: 20px auto;
}
.grid__item-img {
  width: 100%;
  display: block;
}

.grid__item-desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: peachpuff;
  padding: 10px;
}

.grid__item-desc p {
  margin: 0;
}

.grid__title {
  text-decoration: none;
}

.entry {
   &__connect {
    border: 1px solid black;
    padding: 20px 40px;
    margin-top: 20px;
  }
}



@media screen and (min-width: 1280px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 30px;
  }

  .grid__img {
    margin-top: 16px;
    display: block;
    width: 100%;
  }

  .grid__item {
    position: relative;
    overflow: hidden;
    width: inherit;
  }

  .grid__item-img {
    transition: transform 0.3s;
  }

  .grid__item-desc {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
  }

  .grid__item:hover .grid__item-desc {
    transform: translateY(-100%);
  }

  .grid__item:hover .grid__item-img {
    transform: scale(1.1);
  }

  .text__center {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .text__comment {
    grid-column: 2 / -1;
    grid-row: 2;
    text-align: left;
  }


  .entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;

    &__title {
      margin-top: 40px;
    }
  }
}