.grid {
    display: grid;
    padding: 20px 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 30px;
  }
  
  .grid__item {
    min-width: 220px;
    position: relative;
    overflow: hidden;
  }
  
  .grid__item-img {
    display: block;
    width: 100%;
    transition: transform 0.3s;
  }
  
  .grid__item-desc {
    background-color: rgba(0, 0, 0, 0.5);
    color: peachpuff;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
  }
  
  .grid__item-desc p {
    margin: 0;
  }
  
  .grid__item:hover .grid__item-desc {
    transform: translateY(-100%);
  }
  
  .grid__item:hover .grid__item-img {
    transform: scale(1.1);
  }
  
  .text__center {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
  }
  .text__comment {
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
  }