@use 'variables';

.about {
  padding: 5px 5%;

  h2 {
    text-align: center;
  }

  &__content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px grey;
    margin: 2% auto;
  }

  &__foto img {
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 3px 3px 5px grey;
  }
}

@media screen and (min-width: 960px) {
  .about {
    padding: 10px 10%;

    &__content {
      padding: 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding: 20px 20%;

    &__content {
      padding: 60px;
    }
  }
}
