@use 'variables';

.about {
  padding: variables.$padding-5;

  h2 {
    text-align: center;
  }

  &__content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px grey;
    margin: 2% auto;
  }

  &__foto img {
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 3px 3px 5px grey;
  }
}

@media screen and (min-width: variables.$breakpoint-m) {
  .about {
    padding: variables.$padding-10;

    &__content {
      padding: 40px;
    }
  }
}

@media screen and (min-width: variables.$breakpoint-l) {
  .about {
    padding: variables.$padding-20;

    &__content {
      padding: 60px;
    }
  }
}
