@use 'variables';

.popup {
    display: block;
    text-align: left;
    vertical-align: middle;

    &__header {
        background-color: aquamarine;
        color: #4d4c4d;
        border:none;
        padding: 15px;
        min-height: 16.43px;
    }

    &__body {
        position: relative;
        padding: 15px;
    
    }
}
