$f-primary: #343a40;
$f-secondary: #6c757d;
$info: #04dcfd;
$warning: red;
$danger: #dc3545;
$font-family-sans-serif: 'Nunito', sans-serif;
$c-primary: rgb(252,247,248);
$c-secondary: rgb(219, 122, 219);
$c-title: #ff6347;
$menu-primary: #ff6347;
$menu-secondary: white;
$breakpoint-s: 780px;
$breakpoint-m: 960px;
$breakpoint-l: 1280px;
$padding-5: 5px 5%;
$padding-10: 10px 10%;
$padding-20: 20px 20%;