$f-primary: #343a40;
$f-secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$breakpoint: 1280px;

$font-family-sans-serif: 'Nunito', sans-serif;
$c-primary: rgb(252,247,248);
$c-secondary: rgb(219, 122, 219);
$c-title: #ff6347