@use 'variables';
@use 'basic';
@use 'header';
@use 'menu';
@use 'footer';
@use 'pop-up';
@use 'masaze';


.main {
  margin: 0;
  overflow: auto;
}

.box {
  height: 550px;
}

//masáže



//detail masáže
.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(300px);
  gap: 50px;
  padding: 20px 200px;
}

.detail h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: peachpuff;
}

.detail__img {
  display: block;
  width: 100%;
}

//ceník

.table {
  border-spacing:0;
}

td,
th {
  border-bottom:1px solid black ;
}