@use 'variables';
@use 'basic';
@use 'header';
@use 'menu';
@use 'footer';
@use 'pop-up';
@use 'masaze';


.main {
  margin: 0;
  overflow: auto;
}

//úvod
.preface__grid {
  display: grid;
  padding: 20px 200px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
}

.preface__foto {
  margin: 60px;
  grid-column: 2 /-1;
}

.preface__text {
  font-size: 48px;
  font-weight: bold;
  margin: 0 60px;
  grid-column: 1 / 2;
  grid-row: 1; 
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 200px;
  gap: 30px;
  &__connect {
    border: 1px solid black;
    padding: 20px 40px;
  }
  &__title {
    margin-top: 40px;
  }
}

.inline__bold {
  font-weight: bold;
}

.notice {
  padding: 20px 200px;

  &__text {
    border: 1px solid black;
    padding: 20px 40px;
  }

  &__text--color {
    color: variables.$danger;
    font-weight: bold;
    font-size: 20px;
  }
}

//detail masáže
.detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 474px;
  gap: 50px;
  padding: 20px 200px;
  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: peachpuff;
  }
}

.detail__img {
  display: block;
  width: 100%;
  max-height: 640px;
}

//ceník
.price {
  padding: 20px 200px;
  width: 1280px;
  margin: 0 auto;

  h3 {
    font-size: 36px;
  }
}

.table {
  border-spacing:0;

}

td, 
th {
  border-bottom:1px solid black ;
}

//kontakt
.contact__grid {
  display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px 50px;
  padding: 20px 200px;
}

.contact__grid-item {
  padding: 20px 40px;
  &--availability {
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 20px 40px;
  }
}

.contact__button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  padding: 5px;
  width: 100px;
  background-color: #2658c4;
  border-radius: 10px;
}
.contact__button:hover {
  background-color: #3b5998;
}

//mapa
.map {
	padding: 40px 40px;
}

//formulář
.form-field {
	margin-bottom: 1rem;
}

.form-field label {
	display: block;
	color:  hsl(0, 0%, 50%);
	font-size: 15px;
	margin-bottom: calc(1rem / 2);
}

.form-field :is(input, textarea, select) {
	width: 100%;
	padding: calc(1rem / 2);
	border: 1px solid hsl(0, 0%, 70%);
	border-radius: 4px;
}

.required:after {
	content: "*";
	color: red;
	margin-left: 4px;
}

//zpráva-upozornění
.report {
  padding: 20px;
  background-color: #b9dff5;
  border: 2px solid #0c86cc;
  color: red;
}

//o mně
.about {
  padding: 20px 200px;

  &__content {
    box-sizing: border-box;
    width: 550px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px grey;
    background-color: transparent;
    margin: 0 auto;
  }

  &__foto img {
    border-radius: 5%;
    border: 3px solid white;
    box-shadow: 6px 6px 10px grey;
  }

  &__certificate {
    margin-top: 50px;
  }

}

.certificate {
  display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 50px 50px;

  &__foto {
    width: 150px;
    height: 200px;
    box-shadow: 6px 6px 10px grey;
  }
}
