<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <header class="header"> 
                
            <div class="header__logo">
                <img src="/images/Logo-masáž.svg" alt="logo">
                <p class="logo__name"> Jan Tománek</p>
            </div>
            
            <div class="header__title">Masáže</div>

        </header>

        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
                <li class="menu__item"><a href="/masaze/" class="menu__link">Masáže a tejpování</a></li>
                <li class="menu__item"><a href="/cenik/" class="menu__link">Ceník</a></li>
                <li class="menu__item"><a href="/fotogalerie/" class="menu__link">Fotogalerie</a></li>
                <li class="menu__item"><a href="/omne/" class="menu__link">O mně</a></li>
                <li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
            </ul>
        </nav>

        

        <main class="main">

            {{ content | safe }}

        </main>

        <footer class="footer">
            
            <div class="footer__copyright">
                <p>&copy 2021 Jan Tománek</p> 
            </div>
            <div class="footer__socialmedia">
                <a href="https://www.facebook.com/groups/358658755091310">Facebook</a>
            </div>
            <div class="footer__design">
                <p>Webdesign Andrea Doubková</p>
            </div>
        </footer>

    </div>

</body>
</html>