<footer class="footer">
            
    <div class="footer__copyright">
        <p>&copy 2021 Jan Tománek</p> 
    </div>
    <div class="footer__socialmedia">
        <a class="footer__button" href="https://www.facebook.com/groups/358658755091310">Facebook</a>
    </div>
    <div class="footer__design">
        <p>Webdesign Andrea Doubková</p>
    </div>
    
</footer>