<div class="popup">
    
    <div class="popup__header">
        <h2>Aktuální informace:</h2>
        <button id="zavrit">x</button>
    </div>
    
    <div class="popup__body">
        <p><span class="inline__bold">Nová opatření:</span></p>
        
        <p><span class="inline__bold">na základě vládního opatření platí  povinnost nosit ve zdravotnických zařízeních respirátor FFP2/KN95.</span></p>

        <p><span class="inline__bold">Podmínkou je doložený:</span></p>
        <ul>
            <li>negativní antigenní test – platnost 72 hodin</li>
            <li>negativní PCR test – platnost 7 dní</li>
            <li>pozitivní výsledek o prodělání onemocnění COVID-19 – platnost 90 dní</li>
            <li>14.dní po druhé vakcíně</li>
        </ul> 

        <p><span class="inline__bold">Pro více informací sledujte naše facebookové a webové stránky.</span></p>

        <p>Děkuji za pochopení a dodržování pravidel.</p>
        <p>Těším se na vaší návštěvu.</p>
    </div>
</div>

<script>
    document
        .getElementById('zavrit')
        .addEventListener('click', () => {
            document.querySelector('.popup').style.display = 'none';
        });
</script>