<div class="report">
  <p>
    Z důvodu nařízení vlády ČR je od 3.5 2021 provoz masáží v provozovně obnoven
    s platným testem. Mobilní služby k Vám domů jsou stále v provozu bez
    jakéhokoliv omezení. Děkuji za pochopení.
  </p>
</div>
